In [1]:
import pandas as pd

In [3]:
data1 ={
    'age' : ['youth', 'youth', 'middle_age', 'senior', 'senior', 'senior','middle_age', 'youth', 'youth', 'senior', 'youth', 'middle_age','middle_age', 'senior'],
    'income' : ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium','low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student' : ['no','no','no','no','yes','yes','yes','no','yes','yes','yes','no','yes','no'],
    'credit_rate' : ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair','excellent', 'excellent', 'fair', 'excellent'],
    'default' : ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes','yes', 'yes', 'yes', 'no']
}
df1 = pd.DataFrame (data1, columns=data1.keys())
df1

           age  income student credit_rate default
0        youth    high      no        fair      no
1        youth    high      no   excellent      no
2   middle_age    high      no        fair     yes
3       senior  medium      no        fair     yes
4       senior     low     yes        fair     yes
5       senior     low     yes   excellent      no
6   middle_age     low     yes   excellent     yes
7        youth  medium      no        fair      no
8        youth     low     yes        fair     yes
9       senior  medium     yes        fair     yes
10       youth  medium     yes   excellent     yes
11  middle_age  medium      no   excellent     yes
12  middle_age    high     yes        fair     yes
13      senior  medium      no   excellent      no

In [5]:
p_age = df1.age.value_counts()/len(df1)
p_age

youth         0.357143
senior        0.357143
middle_age    0.285714
Name: age, dtype: float64

In [6]:
1-sum(p_age**2)

0.6632653061224489

In [7]:
p_age**2

youth         0.127551
senior        0.127551
middle_age    0.081633
Name: age, dtype: float64

In [17]:
def gini_impurity (value_counts):
    n = value_counts.sum()
    print(n)
    p_sum = 0
    for key in value_counts.keys():
        print(key)
        p_sum = p_sum  +  (value_counts[key] / n ) **2 
        print(p_sum)
    gini = 1 - p_sum
    return gini

In [18]:
gini_impurity(df1.age.value_counts())

14
youth
0.12755102040816327
senior
0.25510204081632654
middle_age
0.336734693877551

0.6632653061224489